<div id="dashboard">
  <h3>My Dashboard</h3>

  <!-- <app-board-category title="Mes Favoris" [boards]="boardsFiltered$ | async"></app-board-category> -->
  <!-- <app-board-category title="Mes boards" [boards]="boards$ | async"></app-board-category> -->

  <div class="add-board-button" (click)="createNewBoard()">Create new board...</div>

  <app-board-category title="Mes Favoris" [boards]="boardsFiltered"></app-board-category>
  <app-board-category title="Mes boards" [boards]="boards"></app-board-category>


</div>